/* Header */
$--header-padding: 0;
/* Main */
$--main-padding: 5px;

$--border-radius-base: 2px !default;

$--button-padding-vertical: 10px !default;
$--button-medium-padding-vertical: 8px !default;
$--button-small-padding-vertical: 7px !default;
$--button-mini-padding-vertical: 6px !default;

@import "~element-admin/lib/css/index";
